.bar-nav{
	background-color: #333333;
	height: 60px;
}
.title,h6{
	color: #DFDFDF;
	text-align: center;
}
.button-dark{
	color: #DFDFDF;
}
.button{
	border: none;
}
img{
	padding-top: 50px;
}
.icon-dian3{
	color: #999999;
}
.icon-kaiguan2{
	color: #ffffff;
}