.content-block {
    width: 100%;
    background-color: #1ba365;
    margin: 0;
    padding: 1rem 0 0;
}
.device-frame{
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	border: 0.08rem dashed #ffffff;
	margin: 0 auto;
}
 .device-frame h1,.device-frame h4,.device-frame h6{
	font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
.device-frame h1{
	 font-size: 5rem;
     padding-top: 1rem;
}
.device-frame h4{
	font-size: 1.5rem;
}
.device-frame h6{
    font-size: 1rem;
}
.device-information{
    display: block;
    padding-top: 1rem;
}
.device-information span{
	font-size: 1rem;
    display: block;
    color: #FFFFFF;
}
.device-information,
.device-button{
    margin: auto;
}
/*按钮*/
.device-button{
    width: 100%;
    height: 16.6%;
}
.bt{
    float: left;
    margin: 4.6%;
}
/*@media方法*/
@media only screen and (min-height: 568px) {
    .content-block{
        padding: 3rem 0 0;
    }
    .device-information{
        padding-top: 3rem;
    }
    .bt{
        margin: 5.6% 4.6% 5.6% 4.6%;
    }
}
@media only screen and (min-height: 667px) {
    .content-block{
        padding: 5rem 0 0;
    }
    .device-information{
        padding-top: 5rem;
    }
    .bt{
        margin: 7.5% 5.8% 7.5% 5.8%;
    }
}
@media only screen and (device-width: 412px) {
    .content-block{
        padding: 4.5rem 0 0;
    }
    .device-information{
        padding-top: 4.5rem;
    }
    .bt{
        margin: 6.5% 6% 6.5% 6%;
    }
}
@media only screen and (min-height: 732px) {
    .content-block{
        padding: 6rem 0 0;
    }
    .device-information{
        padding-top: 6rem;
    }
    .bt{
        margin: 7% 6% 7% 6%;
    }
}
/*圆形1*/
.circular {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border: 0.05rem solid #bcbcbc;
    border-radius: 50%;
}
/*圆形2*/
.circular span {
    display: block;
    padding-top: 0.75rem;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-size: 0.6rem;
    color: #bcbcbc;
}
/*字体图标大小调整*/
.circular .iconfont {
    padding-top: 0.25rem;
    font-size: 1.25rem;
}
.circular:active{
    background-color: #999999;
}
