.content-empty{
	padding: 2rem 0;
}
.content-block {
    width: 100%;
    background-color: #1ba365;
    margin: 0;
}
.row1{
	width: 14rem;
	height: 14rem;
	border-radius: 50%;
	border: 0.2rem dashed #ffffff;
	margin: 0 auto;
}
.row1 h1,.row1 p{
	font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
.row h1{
	 font-size: 4rem;
}
.row1 p{
	margin-top: 0.9rem;
	font-size: 0.9rem;
}
.row2 {
    display: block;
    padding-top: 4rem;
}
.row2 span{
	font-size: 1.2rem;
}
.row2,
.row3 {
    margin: auto;
}
.row3{
    padding-top: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .content-block {
        padding-top: 1rem;
    }
    .row2 {
        padding-top: 0;
    }
}

/*/圆形1*/
.circular {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border: 0.05rem solid #bcbcbc;
    border-radius: 50%;
}
/*圆形2*/
.circular span {
    display: block;
    padding-top: 0.75rem;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-size: 0.6rem;
    color: #bcbcbc;
}
/*字体图标大小调整*/
.circular .iconfont {
    padding-top: 0.25rem;
    font-size: 1.25rem;
}
