/*信息中心页面*/

.center-card,
.card-content {
    height: 6rem;
    & .list-block {
        margin: 0 0.25rem;
        padding-top: 0.35rem;
    }
    & .warn-item-text {
        height: 1.5rem;
    }
    & .item-subtitle {
        color: #0099cc;
    }
}


/*监控页面*/

//监控的状态
.monitoring-content {
    & .state-card {
        margin: 0;
        height: 11rem;
        background-color: #1ba365;
        padding-top: 1.5rem;
    }
    & .monitoring-state {
        height: 6rem;
        width: 6rem;
        border: 0.1rem #fff dashed;
        border-radius: 50%;
        overflow: auto;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        text-align: center;
        color: #fff;
    }
    & h5 {
        font-size: 0.5rem;
        margin: 0.1rem auto 0;
        font-weight: normal;
    }
    & h6 {
        font-size: 0.4rem;
        margin: 0.3rem auto 0;
        font-weight: normal;
    }
}

//监控信息
.monitoring-message {
    color: #fff;
    font-weight: normal;
    padding-top: 0.8rem;
    height: 2rem;
    
    & .icon {
        font-size: 0.68rem !important;
    }
    & .message {
       width: 2.5rem;
        height: 1.2rem;
        line-height: 1.2rem;
       	text-align:center;
        float: left;
        font-size: 0.5rem;
    }
    & .message p{
    	margin :0;
    	font-size: 0.4rem;
    }
}

//监控信息上滑动的改动
//监控按钮第二排的按钮，等离子，氛围灯先隐藏
.monitoring-button2 {
    display: none;
   margin: 0.75rem auto 0rem;
}
//重置滤网的进度条
#processbar {
    background: #95CA0D;
    float: left;
    height: 2rem;
    text-align: center;
    margin-left: 0;
    border: none;
    font-weight: bold;
    color: #000;
}

//监控的按钮  
.monitoring-button {
	height: 4.5rem;
	margin: 0.75rem auto 0rem;

}

.monitoring-button1,
.monitoring-button2 {
    width: 100%;
    height: 2.25rem;
    text-align: center;
    color: gray;
    & div {
        width: 25%;
        float: left;
    }
    & span:hover,
    div div:hover {
        background-color: #1aa365;
        color: #fff;
        border: 0.05rem #1aa365 solid;
    }
    & .icon,
    div div {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border-radius: 50%;
        border: 0.05rem gray solid;
    }
    & .icon {
        font-size: 0.75rem !important;
    }
    & #clock,#wang {
    	line-height: 1.32rem;
    }
    & div div {
        font-size: 0.5rem;
        margin-left: 0.55rem;
    }
    & a {
    	 color: gray;
    }

}
