/*信息中心页面*/
.center-card,.card-content {
	height: 6rem;
	& .list-block {
		margin: 0 0.25rem;
		padding-top: 0.35rem;
	}
	& .warn-item-text {
		height: 1.5rem;
	}
}

/*车载净化器的首页*/
//工具栏设置字体与和位置
.tab-item {
	&.external {
	font-size: 0.5rem;
	}
}
//页面内容
.headpage-content {
	& .icon {
		font-size: 2.5rem !important;
		color: #009900;
	}
}
//个人中心的弹出框
.personal-center {
	width: 2.4rem;
	height: 3rem;
	background-color: #fff;
	position:relative;
	float: right;
	top: 12.2rem;
	display: block;
	& ul ,li{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	& li {
		height: 1.5rem;
		line-height: 1.5rem;
		text-align: center;
		border:  1px solid #c9c9c9;
	}
	& li:hover{
		background-color: #c9c9c9;
	}
	& a {
		color: #929292;
	}
}
