/*售后服务*/
.service-content {
	//标题部分
	& .title-card {
		height: 10.5rem;
		margin: 0;
	}
	& .card-header, .card-header .list-block,.card-header .item-content,.card-header .item-inner,.card-header .item-input,.card-header .item-input input{
		height: 1.5rem; 
		font-size: 0.5rem;
		min-height: 0;
	}
	& .item-content,.card-footer .item-input textarea{
		padding: 0;
	}
	& .card-footer .item-input textarea {
		margin-top: 4px;
	}
	& .card-footer .item-input {
		margin: 0;
	}
	& .card-footer,.card-footer .list-block,.card-footer .item-inner,.card-footer .item-input,.card-footer .item-input textarea {
		height: 6rem;
		font-size: 0.5rem;
	}
	& .service-input {
		border: 0;
	}
	& .card-footer .item-inner {
		padding: 0;
	}
	//提交按钮
	& .save-button {
		margin: 1.5rem 1.5rem 0 1.5rem;
	}
	& .save-button a {
		border-radius: 0;
		font-size: 0.5rem;
		background-color: #1ba365;
	}
}

/*消息设置*/
.settings-content {
	//消息设置页面的卡片
	& .card,.card-content,.list-block,.list-block .item-content,.list-block .item-inner,.list-block .item-title-row.list-block .item-input,.label-switch,.checkbox{
		margin: 0;
		height: 1.5rem;
		min-height: 0; 
	}
	& .settings-card {
		margin-top: 0.5rem;
	}
	& .item-inner {
		padding: 0;
	}
	& .item-inner .item-title {
		font-size: 0.5rem;
		font-weight: bold;
	}
	& .item-text {
		font-size: 0.4rem;
		line-height: 0.5rem;
		height: 0.5rem;
		width: 6rem;
	}
	& .label-switch{
		float: right;
	}
	
}