/*售后服务*/
.service-content {
	//标题部分
	& .title-card {
		height: 6.5rem;
		margin: 0;
	}
	& .card-header, .card-header .list-block,.card-header .item-content,.card-header .item-inner,.card-header .item-input,.card-header .item-input input{
		height: 1.5rem; 
		font-size: 0.5rem;
		min-height: 0;
	}
	& .item-content,.card-content .item-inner,.card-content .item-input textarea{
		padding: 0;
	}
	& .card-content .item-input {
		margin: 0;
	}
	& .card-content,.card-content .list-block,.card-content .align-top,.card-content .item-inner,.card-content .item-input,.card-content .item-input textarea {
		height: 5rem;
		font-size: 0.5rem;
	}
	& .service-input {
		border: 0;
	}
	//联系人部分
	& .contacts-card {
		margin: 0.5rem 0 0 0;
		height: 3rem;
	}
	//提交按钮
	& .save-button {
		margin-top: 1.5rem;
		width: 100%;
	}
	& .save-button a {
		border-radius: 0;
		font-size: 0.5rem;
		background-color: #1ba365;
	}
}

/*消息设置*/
