/*定时开机*/
.time-content{
	//消息设置页面的卡片
	& .card,.card-content,.list-block,.list-block .item-content,.list-block .item-inner,.list-block .item-title-row.list-block .item-input,.label-switch,.checkbox{
		margin: 0;
		height: 1.5rem;
		min-height: 0; 
	}
	& .settings-card {
		margin-top: 0.5rem;
	}
	& .item-inner .item-title {
		font-size: 0.8rem;
	}
	// & .item-text {
	// 	font-size: 0.4rem;
	// 	line-height: 0.5rem;
	// 	height: 0.5rem;
	// 	width: 6rem;
	// }
	//设置开关按钮位置与大小
	& .label-switch {
		width: 2rem;
	}
	& .checkbox {
		width: 1.8rem;
		height: 1rem;
		margin-top: 0.3rem;
	}
	& .checkbox:after,.checkbox:before {
		width: 0.8rem;
		height: 0.8rem;
	}
	& .label-switch{
		float: right;
	}
	& .item-inner input{
		width: 20rem;
		border: none;
	}
	
}

/*编辑定时*/
.editTime-content{
	
}